@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body {
  background: url("/images/bg1.jpg") repeat 0 0;
}

.panel {
  box-shadow: 0px 2px 15px #999;
  &.sign-in{
    margin-top: 70px;
  }
  .form-group{
    margin-top: 10px;
  }
}

select {
  &.has-placeholder{
    color: #aaa;
  }
  option{
    color: #555 !important;
  }
  option[disabled]:first-child{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .form-inline {
    .form-group {
      width: 49.5%;
    }
    .form-control{
      width: 100%;
    }
  }
}

.widget{
  background-color:#fff;
  border-radius:5px;
  border:1px solid $navbar-default-bg;
  margin-top:15px;
  .title{
    margin-top:-15px;
    background-color:$navbar-default-bg;
    border:1px solid #ccc;
    padding:3px;
    border-radius:5px;
    float:left;
    color:white;
    padding-right:100px;
    padding-left:10px;
    margin-left:25px;
  }
}
.my-profile{
  .user-img{
    width:100px;
    height:100px;
    background-size:cover;
    border-radius:100%;
    border:2px solid $navbar-default-bg;
    margin-left:auto;
    margin-right:auto;
    margin-top:-50px;
    margin-bottom:5px;
  }
}
.main-schedule{
  .lesson{
    margin-top:20px;
    padding-left:10px;
    padding-right:10px;
    .day{
      color:$navbar-default-bg;
    }
  }
}